name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node.js
              uses: actions/setup-node@v4
            - uses: pnpm/action-setup@v4
              name: Install pnpm
            - name: Install Dependencies
              run: pnpm install
            - name: test
              run: pnpm run test
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node.js
              uses: actions/setup-node@v4
            - uses: pnpm/action-setup@v4
              name: Install pnpm
            - name: Install Dependencies
              run: pnpm install
            - name: lint
              run: pnpm run lint
    typecheck:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node.js
              uses: actions/setup-node@v4
            - uses: pnpm/action-setup@v4
              name: Install pnpm
            - name: Install Dependencies
              run: pnpm install
            - name: typecheck
              run: pnpm run typecheck
